body{
    background-color: #F4F0EE;
}

.contact-us{
    background-color: #E11839;
    color: #F4F0EE;
     transition: transform 0.6s ease, box-shadow 0.6s ease;
    border: none;
}

.contact-us:hover{

    background-color: #ffa7b6;
    color: #001247;
    /* background-color: #E11839;
    color: #F4F0EE; */
    transform: scale(1.05); /* Scale up slightly */
    box-shadow: 0px 0px 5px rgba(82, 81, 81, 0.2); /* Add shadow */

}

.custom_button{
    background-color: #001247;
    color: #F4F0EE;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    border: none;
}

.custom_button:hover{
    background-color: #bdcbf7;
    color: #001247;
    transform: scale(1.05); /* Scale up slightly */
    box-shadow: 0px 0px 5px rgba(82, 81, 81, 0.2); /* Add shadow */
}

.lightGrey {
    color: #6e6e6e;
}

.col-lg-1-5 {
    flex: 0 0 12.5%; /* 100% / 8 cards = 12.5% per card */
    max-width: 12.5%;
  }
  
.custom-card:hover{
    transform: scale(1.05); /* Scale up slightly */
    box-shadow: 0px 0px 5px rgba(82, 81, 81, 0.2); /* Add shadow */
}

.custom-card{
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    border: none;
}

.custom-arrow {
    display: inline-block; /* Ensure it behaves like an inline element */
    transition: transform 0.2s ease-in-out; /* Smooth transition for the rotation */
}


.custom-arrow:hover{
    transform: rotate(1deg);
    
}



.certification-logo {
    width: 120px; /* Fixed size */
    height: 80px; /* Adjust as needed */
    object-fit: contain; /* Keeps aspect ratio */
  }
  
  @media (max-width: 768px) {
    .certification-logo {
      width: 100px;
      height: 70px;
    }
  }