body{
    background-color: #F4F0EE;
}

.contact-us{
    background-color: #E11839;
    color: #F4F0EE;
}

.custom_button{
    background-color: #001247;
    color: #F4F0EE;
}

.custom_button:hover{
    background-color: #cad5f6;
    color: #001247;
}

.lightGrey {
    color: #6e6e6e;
}

.col-lg-1-5 {
    flex: 0 0 12.5%; /* 100% / 8 cards = 12.5% per card */
    max-width: 12.5%;
  }
  
